body {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    color: white;
    background-color: grey;
    text-align: center;
    width: 99%;
    height: 900px;
    margin-top: 1.5em;
}

div.georgia {
    padding: 0 0 900px 0;
    background: url(/icons/georgia-clipart.gif);
    background-repeat: no-repeat;
    background-size: 800px;
    text-align: center;
    margin-left: 22em
}

div.expand {
    height: 10px;
    width: 10px;
    position: relative;
    float: left;
    -webkit-transition: width 2s, height 2s, 1s;
    transition: width 2s, height 2s, 1s;
    left: 50px;
    bottom: 20px;
    z-index: -1;
    border-radius: 5px;
    background-size: 65%;
    background-repeat: no-repeat;
}

div.icon {
    width: 5em;
    margin-left: 22em
}


/* Icon Img Class */

div.icon img {
    width: 100%
}


/* Tallulah Gorge Icon Contain */

div#tg-icon {
    float: left;
    position: absolute;
    left: 22em;
    top: 3em;
}


/* Tallulah Gorge Base Styles - Expansion Div */

div#tallulah-gorge {
    background-color: #D1CCC4;
    background-image: url(/images/tallulah_gorge.jpg);
}


/* Tallulah Gorge Styles Added Upon Hover */

div#tg-icon img:hover~div#tallulah-gorge {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*----------Chattahoochee National Forest-----------*/


/* Chatt Nat Forest Icon Contain */

div#cnf-icon {
    float: left;
    position: absolute;
    left: 15em;
    top: 3em;
}


/* Chatt Nat Forest Base Styles - Expansion Div */

div#chat-nat-forest {
    background-color: #AE9061;
    background-image: url(/images/chattahoochee_forest.jpg);
}


/* Chatt Nat Forest Styles Added Upon Hover */

div#cnf-icon img:hover~div#chat-nat-forest {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*----------Red Top Mountain-----------*/


/* Red Top Mountain Icon Contain */

div#rtm-icon {
    float: left;
    position: absolute;
    left: 8em;
    top: 9em;
}


/* Red Top Mountain Base Styles - Expansion Div */

div#red-top-mtn {
    background-color: #FF0300;
    background-image: url(/images/red_top_mountain.jpg);
}


/* Red Top Mountain Styles Added Upon Hover */

div#rtm-icon img:hover~div#red-top-mtn {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*----------Chattahoochee River-----------*/


/* Chatt River Icon Contain */

div#cr-icon {
    float: left;
    position: absolute;
    left: 9em;
    top: 31em;
}


/* Chatt River Base Styles - Expansion Div */

div#chat-river {
    background-color: #94D65B;
    background-image: url(/images/chattahoochee_river.jpg);
}


/* Chatt River Styles Added Upon Hover */

div#cr-icon img:hover~div#chat-river {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*----------Atlanta-----------*/


/* Atlanta Icon Contain */

div#atl-icon {
    float: left;
    position: absolute;
    left: 15em;
    top: 16em;
}


/* Atlanta Base Styles - Expansion Div */

div#atlanta {
    background-color: #C9253F;
    background-image: url(/images/atlanta.jpg);
}


/* Atlanta Styles Added Upon Hover */

div#atl-icon img:hover~div#atlanta {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*----------Lake Lanier----------*/


/* Lake Lanier Icon Contain */

div#ll-icon {
    float: left;
    position: absolute;
    left: 18em;
    top: 9em;
}


/* Lake Lanier Base Styles - Expansion Div */

div#lake-lanier {
    background-color: #69D2E7;
    background-image: url(/images/lake_lanier.jpg);
}


/* Lake Lanier Styles Added Upon Hover */

div#ll-icon img:hover~div#lake-lanier {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*----------Augusta-----------*/


/* Augusta Icon Contain */

div#aug-icon {
    float: left;
    position: absolute;
    left: 33em;
    top: 19em;
}


/* Augusta Base Styles - Expansion Div */

div#augusta {
    background-color: #FBE203;
    background-image: url(/images/augusta.jpeg);
}


/* Augusta Styles Added Upon Hover */

div#aug-icon img:hover~div#augusta {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*----------Warm Springs-----------*/


/* Warm Springs Icon Contain */

div#ws-icon {
    float: left;
    position: absolute;
    left: 12em;
    top: 25em;
}


/* Warm Springs Base Styles - Expansion Div */

div#warm-springs {
    background-color: #B1EBF2;
    background-image: url(/images/warm_springs.jpg);
}


/* Warm Springs Styles Added Upon Hover */

div#ws-icon img:hover~div#warm-springs {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*-----------Macon-----------*/


/* Macon Icon Contain */

div#ma-icon {
    float: left;
    position: absolute;
    left: 23em;
    top: 27em;
}


/* Macon Base Styles - Expansion Div */

div#macon {
    background-color: #003556;
    background-image: url(/images/macon.jpg);
}


/* Macon Styles Added Upon Hover */

div#ma-icon img:hover~div#macon {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*-----------Savannah----------*/


/* Savannah Icon Contain */

div#sav-icon {
    float: left;
    position: absolute;
    left: 42em;
    top: 33em;
}


/* Savannah Base Styles - Expansion Div */

div#savannah {
    background-color: #DB0031;
    background-image: url(/images/savannah.jpg);
}


/* Savannah Styles Added Upon Hover */

div#sav-icon img:hover~div#savannah {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*-----------Providence Canyon----------*/


/* Providence Canyon Icon Contain */

div#pc-icon {
    float: left;
    position: absolute;
    left: 8em;
    top: 38em;
}


/* Providence Canyon Base Styles - Expansion Div */

div#prov-canyon {
    background-color: #FF6242;
    background-image: url(/images/providence_canyon.jpg);
}


/* Providence Canyon Styles Added Upon Hover */

div#pc-icon img:hover~div#prov-canyon {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*-----------Radium Springs----------*/


/* Radium Springs Canyon Icon Contain */

div#rs-icon {
    float: left;
    position: absolute;
    left: 18em;
    top: 38em;
}


/* Radium Springs Canyon Base Styles - Expansion Div */

div#rad-springs {
    background-color: #573100;
    background-image: url(/images/radium_springs.jpg);
}


/* Radium Springs Canyon Styles Added Upon Hover */

div#rs-icon img:hover~div#rad-springs {
    height: 200px;
    width: 500px;
    z-index: 10;
}


/*-----------Okefenokee Swamp----------*/


/* Okefenokee Swamp Icon Contain */

div#os-icon {
    float: left;
    position: absolute;
    left: 30em;
    top: 48em;
}


/* Okefenokee Swamp Base Styles - Expansion Div */

div#oke-swamp {
    background-color: #C5D122;
    background-image: url(/images/okefenokee_swamp.jpg);
}


/* Okefenokee Swamp Canyon Styles Added Upon Hover */

div#os-icon img:hover~div#oke-swamp {
    height: 200px;
    width: 500px;
    z-index: 10;
}